<!DOCTYPE html>
<html>
<head>
    <title>Sobre - FinanVision</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="navbar-brand">FinanVision</div>
        <div class="navbar-links">
            <a href="/">Home</a>
            <a href="/about">Sobre</a>
        </div>
    </div>
    <h1>Sobre</h1>
    <div class="dashboard" id="about">
        <h2>Sobre o FinanVision</h2>
        <p>Este dashboard foi desenvolvido para fornecer uma visão abrangente das principais ações do mercado financeiro, incluindo preços de fechamento, volumes de negociação e variações percentuais. Utiliza dados em tempo real para manter as informações atualizadas e relevantes.</p>
    </div>
</body>
</html>
