<!DOCTYPE html>
<html>
<head>
    <title>FinanVision - Criptomoedas</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="navbar-brand">
            <img src="{{ url_for('static', filename='images/logo/logo.jpg') }}" alt="FinanVision Logo" class="logo">
            <span>FinanVision</span>
        </div>
        <div class="navbar-links">
            <a href="/">Home</a>
            <a href="/cryptos">Criptomoedas</a>
            <a href="/about">Sobre</a>
        </div>
    </div>
    <h1>FinanVision Dashboard - Criptomoedas</h1>
    <div class="dashboard">
        <div class="controls">
            <label for="crypto-select">Selecione uma criptomoeda:</label>
            <select id="crypto-select" class="custom-select">
                <option value="" selected>Selecione aqui</option>
                {% for crypto in top_cryptos %}
                <option value="{{ crypto['id'] }}">{{ crypto['name'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="chart-container">
            <div class="chart" id="chart-price">
                <!-- Gráfico será atualizado aqui -->
            </div>
            <div class="chart" id="chart-volume">
            </div>
            <div class="chart" id="chart-open-close">
            </div>
            <div class="charts-row">
                <div class="chart" id="chart-pie">
                    {{ graph_html_pie|safe }}
                </div>
                <div class="chart" id="chart-bar">
                </div>
            </div>
        </div>
        <div class="top-cryptos" id="top-cryptos">
            <h2>Top 10 Criptomoedas</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Preço Atual</th>
                        <th>Market Cap</th>
                        <th>Volume de Mercado</th>
                        <th>Variação Percentual (24h)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for crypto in top_cryptos %}
                    <tr>
                        <td>{{ crypto['name'] }}</td>
                        <td>${{ "{:,.2f}".format(crypto['current_price']) }}</td>
                        <td>${{ "{:,.0f}".format(crypto['market_cap']) }}</td>
                        <td>${{ "{:,.0f}".format(crypto['total_volume']) }}</td>
                        <td>{{ "{:,.2f}".format(crypto['price_change_percentage_24h']) }}%</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="notes">
                <div class="note">
                    <span class="note-title">Nota:</span> O Market Cap (Capitalização de Mercado) é o valor total de mercado de uma criptomoeda. Ele é calculado multiplicando-se o preço atual pelo número total de moedas em circulação. Um Market Cap maior geralmente indica uma criptomoeda mais estabelecida e menos volátil.
                </div>
                <div class="note">
                    <span class="note-title">Nota:</span> O volume de mercado representa o valor total das transações de uma criptomoeda durante um determinado período. É uma medida da liquidez de uma criptomoeda e pode indicar a intensidade da atividade de negociação.
                </div>
                <div class="note">
                    <span class="note-title">Nota:</span> A variação percentual mostra a diferença percentual entre o preço de abertura e o preço de fechamento de uma criptomoeda em um determinado período de tempo. É um indicador de quão volátil ou estável a criptomoeda está durante esse período.
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('#crypto-select').focus(function(){
                $(this).find('option[value=""]').remove();
            }).blur(function(){
                if ($(this).val() === "") {
                    $(this).prepend('<option value="" selected>Selecione aqui</option>');
                }
            });

            $('#crypto-select').change(function(){
                var selectedCrypto = $(this).val();
                if (selectedCrypto) {
                    $.post('/update_crypto_chart', {crypto: selectedCrypto}, function(data){
                        $('#chart-price').html(data.graph_html_price);
                        $('#chart-volume').html(data.graph_html_volume);
                        $('#chart-open-close').html(data.graph_html_open_close);
                    });
                }
            });

            function updatePieChart() {
                $.get('/update_crypto_pie_chart', function(data) {
                    $('#chart-pie').html(data.graph_html_pie);
                });
            }

            function updateBarChart() {
                $.get('/update_crypto_bar_chart', function(data) {
                    $('#chart-bar').html(data.graph_html_bar);
                });
            }

            setInterval(updatePieChart, 600000);  // Atualiza a cada 10 minutos
            setInterval(updateBarChart, 600000);  // Atualiza a cada 10 minutos
            updatePieChart();  // Atualiza na primeira carga
            updateBarChart();  // Atualiza na primeira carga
        });
    </script>
</body>
</html>
