<!DOCTYPE html>
<html>
<head>
    <title>FinanVision</title>
    <!-- Importação das fontes e estilos -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- Importação do estilo CSS customizado -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Importação do jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- Barra de navegação -->
    <nav class="navbar">
        <div class="navbar-brand">
            <img src="{{ url_for('static', filename='images/logo/logo.jpg') }}" alt="FinanVision Logo" class="logo">
            <span>FinanVision</span>
        </div>
        <div class="navbar-links">
            <a href="/">Home</a>
            <a href="/cryptos">Criptomoedas</a>
            <a href="/about">Sobre</a>
        </div>
    </nav>
    <!-- Container principal -->
    <div class="container">
        <h1>FinanVision Dashboard</h1>
        <div class="dashboard">
            <!-- Seção de controle para selecionar uma criptomoeda -->
            <div class="controls">
                <label for="crypto-select">Selecione uma criptomoeda:</label>
                <select id="crypto-select" class="custom-select">
                    <option value="" selected>Selecione aqui</option>
                    {% for crypto in top_cryptos %}
                    <option value="{{ crypto['id'] }}">{{ crypto['name'] }}</option>
                    {% endfor %}
                </select>
                <div id="loading" class="loading">
                    <div class="spinner"></div>
                    <p>Aguarde...</p>
                </div>
            </div>
            <!-- Container de gráficos -->
            <div id="chart-container">
                <div class="chart" id="chart-price">
                    <!-- Gráfico será atualizado aqui -->
                </div>
                <div class="chart" id="chart-volume">
                </div>
                <div class="charts-row">
                    <div class="chart" id="chart-pie">
                    </div>
                    <div class="chart" id="chart-bar">
                    </div>
                </div>
            </div>
            <!-- Tabela das top 10 criptomoedas -->
            <div class="top-cryptos" id="top-cryptos">
                <h2>Top 10 Criptomoedas</h2>
                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Preço Atual</th>
                            <th>Volume</th>
                            <th>Preço de Abertura</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for crypto in top_cryptos %}
                        <tr>
                            <td>{{ crypto['name'] }}</td>
                            <td>${{ "{:,.2f}".format(crypto['current_price']) }}</td>
                            <td>{{ "{:,.0f}".format(crypto['total_volume']).replace(',', '.') }}</td>
                            <td>${{ "{:,.2f}".format(crypto['opening_price']) }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Notas explicativas sobre os dados -->
                <div class="notes">
                    <div class="note">
                        <span class="note-title">Nota:</span> O volume representa o número total de unidades da
                        criptomoeda negociadas durante um determinado período. É uma medida da liquidez de uma
                        criptomoeda e pode indicar a intensidade da atividade de negociação.
                    </div>
                    <div class="note">
                        <span class="note-title">Nota:</span> O preço de abertura é o preço da primeira transação da
                        criptomoeda no período considerado. Ele pode ser usado para comparar com o preço atual e observar
                        as tendências de preço.
                    </div>
                </div>
            </div>
            <!-- Seção de notícias sobre criptomoedas -->
            <div class="news-section">
                <h2>Notícias sobre Criptomoedas</h2>
                <ul class="news-list">
                    {% for article in news_articles[:5] %}
                    <li class="news-item">
                        <a href="{{ article['url'] }}" target="_blank">{{ article['title'] }}</a>
                        <p>{{ article['description'] }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#loading').hide();

            // Remover a opção "Selecione aqui" ao focar
            $('#crypto-select').focus(function () {
                $(this).find('option[value=""]').remove();
            }).blur(function () {
                if ($(this).val() === "") {
                    $(this).prepend('<option value="" selected>Selecione aqui</option>');
                }
            });

            // Atualizar gráficos ao selecionar uma criptomoeda
            $('#crypto-select').change(function () {
                var selectedCrypto = $(this).val();
                if (selectedCrypto) {
                    $('#loading').fadeIn();
                    setTimeout(function () {
                        $.post('/update_crypto_chart', { crypto: selectedCrypto }, function (data) {
                            $('#chart-price').html(data.graph_html_price);
                            $('#chart-volume').html(data.graph_html_volume);
                            $('#loading').fadeOut();
                        });
                    }, 3000); // Espera 3 segundos antes de realizar a pesquisa
                }
            });

            // Funções para atualizar gráficos periodicamente
            function updatePieChart() {
                $.get('/update_crypto_pie_chart', function (data) {
                    $('#chart-pie').html(data.graph_html_pie);
                });
            }

            function updateBarChart() {
                $.get('/update_crypto_bar_chart', function (data) {
                    $('#chart-bar').html(data.graph_html_bar);
                });
            }

            // Atualizar gráficos a cada 10 minutos
            setInterval(updatePieChart, 600000);  
            setInterval(updateBarChart, 600000);  
            updatePieChart();  
            updateBarChart();  
        });
    </script>
</body>
</html>
