<!DOCTYPE html>
<html>

<head>
    <title>FinanVision</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <img src="{{ url_for('static', filename='images/logo/logo.jpg') }}" alt="FinanVision Logo" class="logo">
            <span>FinanVision</span>
        </div>
        <div class="navbar-links">
            <a href="/">Home</a>
            <a href="/cryptos">Criptomoedas</a>
            <a href="/about">Sobre</a>
        </div>
    </nav>
    <div class="container">
        <h1>FinanVision Dashboard</h1>
        <div class="dashboard">
            <div class="controls">
                <label for="symbol-select">Selecione uma ação:</label>
                <select id="symbol-select" class="custom-select">
                    <option value="" selected>Selecione aqui</option>
                    {% for symbol in symbols %}
                    <option value="{{ symbol }}">{{ company_names[symbol] }}</option>
                    {% endfor %}
                </select>
                <div id="loading" class="loading">
                    <div class="spinner"></div>
                    <p>Aguarde...</p>
                </div>
            </div>
            <div id="chart-container">
                <div class="chart" id="chart-price">
                    <!-- Gráfico será atualizado aqui -->
                </div>
                <div class="chart" id="chart-volume">
                </div>
                <div class="chart" id="chart-open-close">
                </div>
                <div class="charts-row">
                    <div class="chart" id="chart-pie">
                    </div>
                    <div class="chart" id="chart-bar">
                    </div>
                </div>
            </div>
            <div class="top-stocks" id="top-stocks">
                <h2>Top 10 Ações</h2>
                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Preço de Fechamento</th>
                            <th>Volume</th>
                            <th>Variação Percentual</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stock in top_stocks %}
                        <tr>
                            <td>{{ company_names[stock[0]] }}</td>
                            <td>${{ "{:,.2f}".format(stock[2]) }}</td>
                            <td>{{ "{:,.0f}".format(stock[3]).replace(',', '.') }}</td>
                            <td>{{ "{:,.2f}".format(stock[4]) }}%</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="notes">
                    <div class="note">
                        <span class="note-title">Nota:</span> O volume representa o número total de ações negociadas durante
                        um determinado período. É uma medida da liquidez de uma ação e pode indicar a intensidade da
                        atividade de negociação.
                    </div>
                    <div class="note">
                        <span class="note-title">Nota:</span> As médias móveis de 20 e 50 períodos são indicadores técnicos
                        que mostram o preço médio de uma ação ao longo de 20 ou 50 períodos de tempo, respectivamente. Eles
                        são usados para identificar tendências e potenciais pontos de entrada ou saída.
                    </div>
                    <div class="note">
                        <span class="note-title">Nota:</span> A variação percentual mostra a diferença percentual entre o
                        preço de abertura e o preço de fechamento de uma ação em um determinado período de tempo. É um
                        indicador de quão volátil ou estável a ação está durante esse período.
                    </div>
                </div>
            </div>
            <div class="news-section">
                <h2>Notícias Recentes</h2>
                <ul class="news-list">
                    {% for article in news_articles[:5] %}
                    <li class="news-item">
                        <a href="{{ article['url'] }}" target="_blank">{{ article['title'] }}</a>
                        <p>{{ article['description'] }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#loading').hide();

            $('#symbol-select').focus(function () {
                $(this).find('option[value=""]').remove();
            }).blur(function () {
                if ($(this).val() === "") {
                    $(this).prepend('<option value="" selected>Selecione aqui</option>');
                }
            });

            $('#symbol-select').change(function () {
                var selectedSymbol = $(this).val();
                if (selectedSymbol) {
                    $('#loading').fadeIn();
                    setTimeout(function () {
                        $.post('/update_chart', { symbol: selectedSymbol }, function (data) {
                            $('#chart-price').html(data.graph_html_price);
                            $('#chart-volume').html(data.graph_html_volume);
                            $('#chart-open-close').html(data.graph_html_open_close);
                            $('#loading').fadeOut();
                        });
                    }, 3000); // Espera 3 segundos antes de realizar a pesquisa
                }
            });

            function updatePieChart() {
                $.get('/update_pie_chart', function (data) {
                    $('#chart-pie').html(data.graph_html_pie);
                });
            }

            function updateBarChart() {
                $.get('/update_bar_chart', function (data) {
                    $('#chart-bar').html(data.graph_html_bar);
                });
            }

            setInterval(updatePieChart, 600000);  // Atualiza a cada 10 minutos
            setInterval(updateBarChart, 600000);  // Atualiza a cada 10 minutos
            updatePieChart();  // Atualiza na primeira carga
            updateBarChart();  // Atualiza na primeira carga
        });
    </script>
</body>

</html>
